.logo{
    height: 40px;
    width: 60px;
}

nav{
    background-color: white;
}

nav ul a{
    color: black;
}

.parallax-container {
     
    }

.video-container{
	margin: 5%;
	
}

footer.page-footer{
	background-color: #5CB85C;
}

.btn-floating {
	  border-radius: 37%;
}

.btn-large{
	line-height: 28px;
}

.teal{
	background-color: white !important;
	color: black !important;
}

.teal td{
	
	color: black !important;
}

.teal th{
	
	color: black !important;
}


.btn, .btn-large {
	  background-color: #58b758;
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    opacity:0.8;
    z-index:1001;
}
.overlay-message{
    position: fixed;
    top:30px;
    left:30px;
    width:400px;
    height:250px;
    background-color:#fff;
    opacity:1;
    z-index:1002;
}

.buttonlogins{
    background-color: #5CB85C;
      margin-top: 10%;

}

.btns{
	color: white;
	text-align: center;
}

.submit-btn{
	  float: right;
}

.login-container{
	min-height: 400px;
}

.blog-image{
    height: 300px;
    width: 100%;
}

.table-topics{
    background-color: #5CB85C;
      
}
