.container{
    min-height: 90%;
      width: 85%;
}

.logo{
   height: 40px; 
     margin-top: 9px;
}

nav{
    background-color: white;
    
}

nav ul{
    
    margin: 0 114px;
}

nav ul a{
    color: black;
    
}

.joiners{
    margin-right: 0px;
}

.signup {
   background-color: transparent !important;
   text-transform: none;
  color: black;
  border-style: solid;
  border-color: #5CB85C;
  box-shadow: none !important;
  padding-bottom: 37px;
}

.parallax-container {
     
    }

.video-container{
	margin: 5%;
	
}

footer.page-footer{
	background-color: #5CB85C;
}

.btn-floating {
	  border-radius: 37%;
}

.btn-large{
	line-height: 28px;
}

.teal{
	background-color: white !important;
	color: black !important;
    padding-top: 0px;
}

.teal td{
	
	color: black !important;
}

.teal th{
	
	color: black !important;
}


.btn, .btn-large {
	  background-color: #58b758;
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    opacity:0.8;
    z-index:1001;
}
.overlay-message{
    position: fixed;
    top:30px;
    left:30px;
    width:400px;
    height:250px;
    background-color:#fff;
    opacity:1;
    z-index:1002;
}

.buttonlogins{
    background-color: #5CB85C;
      margin-top: 10%;

}

.btns{
	color: white;
	text-align: center;
}

.submit-btn{
	  float: right;
}

.login-container{
	min-height: 400px;
}

.blog-image{
    height: 300px;
    width: 100%;
}

.table-topics{
    background-color: #5CB85C;
    padding-top: 0px;
    margin-bottom: 0px;
      
}

.features{
    text-align: center;
    margin-top: 5%;

}

.products{
    
    margin-top: 10%;

}

.titleheads{
   background-color: #5CB85C !important;
  height: 1px;
}

.section-title{
    text-align: center;
  width: 100%;
  
  position: relative;
  display: block;
}

.section-title span{
    background: white;
  border: 2px solid #5cb85c;
  color: #5cb85c;
  display: inline-block;
  font-size: 22px;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 10;
}

.section-title:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #5cb85c;
}
