<!DOCTYPE html>
  <html>
    <head>
     <title>MFarm.prices</title>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="index.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <script src='Chart.min.js'></script>
    </head>

    <body>


 <div id="main">
 
   <nav>

   <div class="container"> 
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo left"><img src="mfarm_logo.png" class="logo"></a>
     
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
         
          
      </ul> 
     
     
       <ul id="nav-mobile" class="right hide-on-med-and-down joiners">
        <li><a href="index.html">Home</a></li>
          <li><a href="prices.html">Prices</a></li>
        <!-- <li><a href="login.html">Sign in</a></li> -->
        <li><a class="waves-effect waves-light btn signup" href="pricing.html">Justus</a></li>
        
      </ul>
     </div>

      <ul class="side-nav" id="mobile-demo">
         <li class="active"><a href="index.html">Home</a></li>
          <li><a href="prices.html">Prices</a></li>
          <!-- <li><a href="login.html">Login</a></li> -->
          <li><a href="signup.html">Profile</a></li>
      </ul>
    </div>
     
  </nav>
</div>

 

</div> 
  <div class="container">

  <!-- row with the selectors-->

   <div class="row selectors">
   
      <a class=" waves-effect waves-light btn-flat" href="prices.html"><i class="material-icons left"></i>Daily Prices</a>
      <a class=" active waves-effect waves-light btn-flat" href="trends.html"><i class="material-icons left"></i>Trends</a>
      

  </div>


  <!--row with the content cards-->


  
   
           
        <div class="card-panel teal customising-area">


        <div class="row customising-area">
           <div class="col s12 m8 customising-area"><p>Compare prices</p></div>
           <div class="col s12 m4 customising-area"><p>Select period</p></div>
        </div>


           <div class="row customising-area">    

              <div class="col s12 m6 customising-area">

                    <div class="input-field col s12 m2 customising-area ">
                          <select>
                            <option value="" disabled selected>Crop A</option>
                            <option value="1">Oranges</option>
                            <option value="2">Pumpkins</option>
                            <option value="3">Tomatoes</option>
                          </select>
                    
                    </div>


                    <div class="input-field col s12 m2 customising-area">
                          <select>
                            <option value="" disabled selected>Town</option>
                            <option value="1">Nairobi</option>
                            <option value="2">Mombasa</option>
                            <option value="3">Kisumu</option>
                            <option value="4">Eldoret</option>
                            <option value="5">Nakuru</option>
                            <option value="5">Average</option>
                          </select>
                    
                    </div>

                    <!--comparison between different crops-->

                  <!--   <div class="col s12 m2">
                         
                          <p>vs</p>
                    
                    </div>




                    <div class="input-field col s12 m3 customising-area">
                          <select>
                            <option value="" disabled selected>Crop B</option>
                            <option value="1">Oranges</option>
                            <option value="2">Pumpkins</option>
                            <option value="3">Tomatoes</option>
                          </select>
                    
                    </div>


                    <div class="input-field col s12 m3 customising-area">
                          <select>
                            <option value="" disabled selected>Town</option>
                            <option value="1">Nairobi</option>
                            <option value="2">Mombasa</option>
                            <option value="3">Kisumu</option>
                            <option value="4">Eldoret</option>
                            <option value="5">Nakuru</option>
                            <option value="5">Average</option>
                          </select>
                    
                    </div> -->

                   </div> 

                   <div class="col s12 m2"><p></p></div>
                   <div class="col s12 m4 customising-area">
                          <div class="row customising-area">
                                  <div class="input-field col s12 m6">
                                        <input type="date" class="datepicker">
                                        <label for="input_text">From</label>
                                  
                                  </div>

                                  <div class="input-field col s12 m6">
                                        <input type="date" class="datepicker">
                                        <label for="input_text">To</label>
                                  
                                  </div>
                          </div>
                    </div>
   
       </div>
    
</div>

<div class="row">
    
    <div class="col s12 m12 l12">
            <div class="row">
            <div class="col s12 m12">
              <div class="card-panel teal">
                <span class="black-text">
                <p>Tomato trends since Jan 2014 to Dec 2014</p>

                 <div id="one">
                     <canvas id="buyers" ></canvas>
                     <div id="legen" class="chart-legend"></div>
                   </div>

                  <!--  <div id="two">
                     <canvas id="buyers2" ></canvas>
                     <div id="legen2" class="chart-legend"></div>

                     </div> -->
                     
                </span>

              </div>
            </div>

           
          </div>
    </div>


    <div class="col s12 m12 l12">

       <!-- card for top gainers-->
          <div class="row customising-area">
            <div class="col s12 m6">
              <div class="card-panel teal">
                <span class="white-text">
                   <div class="row table-topics">
                      <p>
                        Top gainers
                      </p>
                    </div>

                  <table class="bordered responsive-table">
                    <thead>
                      <tr>
                          <th data-field="id">Crop</th>
                          <th data-field="name">Location</th>
                          <th data-field="price">change(%)</th>
                          <th data-field="price">Current average</th>
                      </tr>
                     </thead>

                   <tbody>
                         
                        <tr>
                          <td>Tomatoes</td>
                          <td>Kisumu</td>
                          <td>82</td>
                          <td>KES 300</td>
                        </tr>
                        <tr>
                          <td>Tomatoes</td>
                          <td>Kisumu</td>
                          <td>82</td>
                          <td>KES 300</td>
                        </tr>
                        <tr>
                          <td>Tomatoes</td>
                          <td>Kisumu</td>
                          <td>82</td>
                          <td>KES 300</td>
                        </tr>
                   </tbody>

                  </table>

                </span>
              </div>
            </div>
         

         <!-- card for top losers-->
           
            <div class="col s12 m6">
              <div class="card-panel teal">
                <span class="white-text">

                   <div class="row table-topics">
                      <p>
                        Top losers
                      </p>
                    </div>
                      <table class="bordered responsive-table">
                    <thead>
                      <tr>
                          <th data-field="id">Crop</th>
                          <th data-field="name">Location</th>
                          <th data-field="price">change(%)</th>
                          <th data-field="price">Current average</th>
                      </tr>
                     </thead>

                   <tbody>
                        
                        <tr>
                          <td>Tomatoes</td>
                          <td>Kisumu</td>
                          <td>82</td>
                          <td>KES 300</td>
                        </tr>
                        <tr>
                          <td>Tomatoes</td>
                          <td>Kisumu</td>
                          <td>82</td>
                          <td>KES 300</td>
                        </tr>
                        <tr>
                          <td>Tomatoes</td>
                          <td>Kisumu</td>
                          <td>82</td>
                          <td>KES 300</td>
                        </tr>
                   </tbody>

                  </table>
                </span>
              </div>
            </div>
          </div>
    </div>
  </div>

  </div>


  <footer class="page-footer">
          <!-- <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Our footer content goes here</p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 MFarm KE
            <a class="grey-text text-lighten-4 right" href="index.html">Back Home</a>
            </div>
          </div> -->
          <img src="footer.png">
        </footer>


      
    <!--   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
          </a>
    
      </div> -->
       


      <script>
            // line chart data
            var buyerData = {
                labels : ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                

                datasets : [
                {
                    label: "Eldoret",
                    type: "bar",
                    fillColor : "transparent",
                    strokeColor : "#4D4D4D",
                    pointColor : "#4D4D4D",
                    pointStrokeColor : "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    
                    data : [3750, 5188, 5200, 4038, 3926,3813, 5117,  7010,  6338,  5640,  3788,  4025]
                },{
        label: "Kisumu",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
                    fillColor : "transparent",
                    strokeColor : "#ACC26D",
                    pointColor : "#ACC26D",
                    pointStrokeColor : "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
        data: [4043, 4875 , 5056,  6392,  5280,  4167,  5792,  7422,  6813 , 5263,  5350,  4315]

    },{
        label: "Mombasa",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
        fillColor: "transparent",
        strokeColor: "#FEA203",
        pointColor: "#FEA203",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [3544, 3697,  3910 , 5067 , 4012 , 2956,  4063,  4040,  3133,  3259 , 2618 , 3146]

    },{
        label: "Nairobi",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
        fillColor: "transparent",
        strokeColor: "#FF0000",
        pointColor: "#FF0000",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [3168, 3383,  3075,  5617,  4238 , 2858 , 3913 , 6207,  5142,  3600,  2769,  2831]

    },{
        label: "Nakuru",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
        fillColor: "transparent",
        strokeColor: "#FFFF00",
        pointColor: "#FFFF00",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [3318, 3318,  3369,  4842,  4341,  3839,  4630 , 6420 , 4929 , 4148 , 3283,  2601]

    }
            ]
            }
            // get line chart canvas
            var buyers = document.getElementById('buyers').getContext('2d');
            
             
            // draw line chart
         var myChart = new Chart(buyers).Line(buyerData, {
legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

         });
            document.getElementById('legen').innerHTML = myChart.generateLegend();
           
        </script>

         <script>
            // line chart data
            var buyerData2 = {
                labels : ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                

                datasets : [
                {
                    label: "Eldoret",
                    type: "bar",
                    fillColor : "transparent",
                    strokeColor : "#4D4D4D",
                    pointColor : "#4D4D4D",
                    pointStrokeColor : "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    
                    data : [3750, 5188, 5200, 4038, 3926,3813, 5117,  7010,  6338,  5640,  3788,  4025]
                },{
        label: "Kisumu",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
                    fillColor : "transparent",
                    strokeColor : "#ACC26D",
                    pointColor : "#ACC26D",
                    pointStrokeColor : "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
        data: [4043, 4875 , 5056,  6392,  5280,  4167,  5792,  7422,  6813 , 5263,  5350,  4315]

    },{
        label: "Mombasa",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
        fillColor: "transparent",
        strokeColor: "#FEA203",
        pointColor: "#FEA203",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [3544, 3697,  3910 , 5067 , 4012 , 2956,  4063,  4040,  3133,  3259 , 2618 , 3146]

    },{
        label: "Nairobi",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
        fillColor: "transparent",
        strokeColor: "#FF0000",
        pointColor: "#FF0000",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [3168, 3383,  3075,  5617,  4238 , 2858 , 3913 , 6207,  5142,  3600,  2769,  2831]

    },{
        label: "Nakuru",
        //new option, type will default to bar as that what is used to create the scale
        type: "bar",
        fillColor: "transparent",
        strokeColor: "#FFFF00",
        pointColor: "#FFFF00",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [3318, 3318,  3369,  4842,  4341,  3839,  4630 , 6420 , 4929 , 4148 , 3283,  2601]

    }
            ]
            }
            // get line chart canvas
            var buyers2 = document.getElementById('buyers2').getContext('2d');
            
             
            // draw line chart
         var myChart = new Chart(buyers2).Line(buyerData2, {
legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

         });
            document.getElementById('legen2').innerHTML = myChart.generateLegend();
           
        </script>
   
      <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="materialize.min.js"></script>
        <script type="text/javascript" src="justus.js"></script>
       

    </body>
  </html>